body{
	margin:0;

}
.topbar{
	background-color:white;
	color:black;
	position:relative;
	height:5vh;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
	font-size:16px;
	font-family:cursive;
	
}


#topnav {
  background-color: rgb(130, 181, 226);
  overflow: hidden
  
}

#topnav #a:hover {
  background-color:blue;
  color: black;
}
.sideMenu{
	display:inline-block;
	
	color:black;
	position:relative;
	height:80vh;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
	font-size:22px;
	font-family:cursive;
    background-image:url('cake.jpeg');
    background-size:content;
	width:204vh;
	}




.footer{
	background-color: rgb(130, 181, 226);
	color:white;
	position:relative;
	height:30vh;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
	font-size:16px;
	font-family:arial;
	
}
#visit{
	color:blue;
	text-decoration:underline;
}
ul{
	list-style-type:none;
}
.col1{
	
	margin-top:20px;
	float:left;
	width:25%;
}
.col2{
	margin-top:20px;
	float:left;
	width:25%;
}

.col3{
	margin-top:20px;
	float:left;
	width:25%;
}


.col4{
	margin-top:20px;
	float:left;
	width:25%;
}
a{
	text-decoration:none;
	color:white;
}
