body{
	margin:0;
}
.topbar{
	background-color:white;
	color:black;
	position:relative;
	height:5vh;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
	font-size:16px;
	font-family:arial;
	
}


#topnav {
  background-color: rgb(130, 181, 226);
  overflow: hidden
  
}
#topnav a {
  float: left;
  color:white;
  text-align: center;
  padding: 10px 40px;
  text-decoration: none;

font-size:17px}
#topnav a#active {
  background-color:blue ;
  color: white;
}
#topnav #a:hover {
  background-color:blue;
  color: black;
}
.sideMenu{
	background-color:white;
	color:black ;
	position:relative;
	height:100vh;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
	font-size:16px;
	font-family:arial;
	
	}

.footer{
	background-color: rgb(130, 181, 226);
	color:white;
	position:relative;
	height:30vh;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
	font-size:16px;
	font-family:arial;
	
}
ul{
	list-style-type:none;
}
.col1{
	
	margin-top:20px;
	float:left;
	width:25%;
}
.col2{
	margin-top:20px;
	float:left;
	width:25%;
}

.col3{
	margin-top:20px;
	float:left;
	width:25%;
}


.col4{
	margin-top:20px;
	float:left;
	width:25%;
}
a{
	text-decoration:none;
	color:white;
}

#slider {
	overflow: hidden;
}

@keyframes slider {
	0% { left: 0; }
	30% { left: 0; }
	33% { left: -100%; }
	63% { left: -100%; }
	66% { left: -200%; }
	95% { left: -200%; }
	100% { left: 0; }
}
#slider figure {
	width:300%;
	position: relative;
	animation: 13s slider infinite;
	margin-left: 0px;
    margin-top: 0px;
}

#slider figure:hover {
	/*animation-play-state: paused; enable for pause on hover*/
}
#slider figure img {
	width: 33.333333333%;
	height : 100%;
	float: left;
}
